/* This should only be used on the app.css file */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
  

}



.header-container{
    display:flex;
    justify-content: space-between;
}

.header-container h2{
    font: inter; 
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #3A4895;
    margin-left: 60px ;
    margin-bottom: 50px;
    margin-top: 25px;

}
.cart-pointer{
    border-radius: 50% ;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 28px;
    right: 34px;
    display: inline-block;
    height: 25px;
    width: 25px;

}

.contact{
    
    margin-right: 50px;
}
.cart{
    margin-top: 25px;
    font-size: 40px;
}

@media (max-width:768px){
    header-container{
        width: 768px;
    }
    .header-container h2{
        margin-left: 10px ;
    }
   


}


@media (max-width:480px) {
    header-container{
        width: 480px;
    }
    
    .header-container h2{
        margin-left: 10px ;
    }
  
    

    }